@import "tailwindcss";

@source "../index.html";
@source "../contact.html";
@source "../projects.html";
@source "../**/*.html";
@source "./**/*.{js,css}";

/* Product slider scrollbar hide */
[data-product-track] {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  touch-action: pan-x;
}

[data-product-track]::-webkit-scrollbar {
  display: none;
}
